.products-section {
    border: 1px solid fuchsia;
}

.all-products {
    border: 1px solid brown;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-container {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    width: 300px;
}

.product-container button {
    width: 100%;
}